.factionIconBox {
  flex-shrink: 0;
}

.factionName {
  width: 70px;
  letter-spacing: 0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-shrink: 0;
}

.playerName {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.progressValueBox {
  text-align: right;
  flex-shrink: 0;
}


