.countText {
  color: var(--mantine-color-white);
  font-weight: var(--weight-rail);
  font-size: 18px;
  line-height: 1;
}

.countTextGray {
  color: var(--mantine-color-gray-6);
  font-weight: var(--weight-regular);
  font-size: 14px;
  line-height: 1;
}
