.container {
  overflow: hidden;
  max-height: none;
  display: flex;
  flex-direction: column;
}

.content {
  padding: var(--mantine-spacing-sm);
  overflow-y: auto;
  overflow-x: hidden;
  flex: 1;
  min-height: 0;
}
