@font-face {
  font-family: 'Slider';
  src: url('/font/Slider.woff2') format('woff2'),
       url('/font/Slider.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

