@font-face {
  font-family: "Slider";
  src: url("/font/slider.ttf") format("truetype"),
  url("/font/slider.woff2") format("woff2"),
  url("/font/slider.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  }