.theme-mobile {
    --surface-bg: #0A111E;
    --surface-border: 1px solid #313947;
    --surface-corner-accent: 2px solid #313947;

    --player-card-box-bg: #101828;

    --sidebar-bg: #0a111e;
    --left-sidebar-bg: rgb(10 17 30 / 91%);
    --sidebar-border: 1px solid rgba(148, 163, 184, 0.225);

    --secret-tab-bg:  linear-gradient(135deg, rgba(8, 14, 33, 0.96) 0%, rgba(20, 29, 45, 0.92) 100%);
    --secret-tab-header-bg: linear-gradient(135deg, rgba(8, 14, 33, 0.84) 0%, rgba(20, 29, 45, 0.76) 100%);
    --secret-tab-header-border: 1px solid rgba(148, 163, 184, 0.24);
    --secret-tab-hover-bg:  linear-gradient(135deg, rgba(8, 14, 33, 0.225) 0%, rgba(20, 29, 45, 0.84) 100%);
    --secret-tab-hover-border: 1px solid rgba(148, 163, 184, 0.325);

    --main-bg: #0a111e;
    --map-tabs-bg: #101628;

    --map-tab-border: 1px solid rgba(148, 163, 184, 0.325);
    --map-tab-hover-bg: #101628;
    --map-tab-hover-border: #3168C5;

    --map-tab-active-bg: #192E54;
    --map-tab-active-border: #3168C5;


    --header-bg: #0B1324;
    --header-border: 1px solid #152C52;
    --header-tab-border: 1px solid #1E3E76;
    --header-tab-hover-bg: #16316F;
    --header-tab-hover-border: #326DD4;

    --header-tab-active-bg: #18367C;
    --header-tab-active-border: #306CD4;

    --header-tab-input-bg: rgba(8, 14, 33, 0.83);
    --header-tab-input-border: 1px solid rgba(59, 130, 246, 0.425);

    --header-tab-dropdown-bg: rgba(8, 14, 33, 0.92);
    --header-tab-dropdown-border: 1px solid rgba(59, 130, 246, 0.425);
    --header-tab-dropdown-hover-bg: rgba(37, 99, 235, 0.34);

    /** Details Card (for all the popovers) **/
    --details-card-bg: #0A111E;
    --details-card-border: 1px solid #162D56;

    /* Movement Banner */
    --movement-banner-bg: linear-gradient(135deg, rgba(8, 14, 33, 1) 0%, rgba(20, 29, 45, 1) 100%);
    --movement-banner-border: 2px solid rgba(59, 130, 246, 0.7);
    --movement-banner-glow: rgba(59, 130, 246, 0.6);
    --movement-banner-title-color: rgba(255, 255, 255, 0.96);
    --movement-banner-accent-color: rgba(147, 197, 253, 0.98);
}


.mobile *, .mobile *::before, .mobile *::after {
    box-shadow: none !important;
    filter: none !important;
    transition: none !important;
    animation: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
    -webkit-transition: none !important;
}


