.main {
  background-color: black;
}

body {
  background-color: black;
}

.zoomContainer {
  position: fixed;
  top: 75px;
  right: 15px;
  z-index: 1;
  /* float: right; */
}

.zoomContainer2 {
  position: fixed;
  top: 75px;
  right: calc(25vw + 35px);
  z-index: 1;
}


.zoomContainer3 {
  position: fixed;
  top: 125px;
  right: 15px;
  z-index: 1;
}

.logo {
  width: 120px;
}

.logo-divider {
  width: 1px;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 8px;
}

.imageContainer {
  width: 100vw;
  height: calc(100vh - 60px);
}

.burger {
  display: none;
}

.desktopMenu {
  display: flex;
  align-items: center;
  flex: 1;
}

@media (max-width: 568px) {
  .burger {
    display: block;
    margin-left: auto;
  }

  .desktopMenu {
    display: none;
  }
}

.tabs-scrollable {
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tabs-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.tabs-scrollable [role="tab"] {
  flex-shrink: 0;
}
.title-bar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

