/* Header tab variables for GamesBar - matching midnightgray theme */
:root {
  --header-tab-bg: linear-gradient(180deg, #080808, #161616 100%);
  --header-tab-border: 1px solid rgba(200, 200, 200, 0.4);
  --header-tab-hover-bg: #181818;
  --header-tab-hover-border: #858585;
  --header-tab-active-bg: #3F3F3F;
  --header-tab-active-border: #A9A9A9;
  --header-tab-input-bg: rgba(8, 8, 8, 0.86);
  --header-tab-input-border: 1px solid rgba(200, 200, 200, 0.45);
  --header-tab-dropdown-bg: rgba(8, 8, 8, 0.94);
  --header-tab-dropdown-border: 1px solid rgba(200, 200, 200, 0.45);
  --header-tab-dropdown-hover-bg: rgba(180, 180, 180, 0.38);
  --header-dropdown-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.main {
  background-color: black;
}

body {
  background-color: black;
}

.zoomContainer {
  position: fixed;
  top: 75px;
  right: 15px;
  z-index: 1;
  /* float: right; */
}

.zoomContainer2 {
  position: fixed;
  top: 75px;
  right: calc(25vw + 35px);
  z-index: 1;
}


.zoomContainer3 {
  position: fixed;
  top: 125px;
  right: 15px;
  z-index: 1;
}


.zoomContainer4 {
  position: fixed;
  top: 125px;
  right: calc(25vw + 35px);
  z-index: 1;
}



.logo {
  width: 120px;
  filter: hue-rotate(200deg) brightness(1.1);
}

.logo-divider {
  width: 1px;
  height: 40%;
  background-color: rgba(148, 163, 184, 0.3);
  margin-left: 8px;
}

.imageContainer {
  width: 100vw;
  height: calc(100vh - 60px);
}

.burger {
  display: none;
}

.desktopMenu {
  display: flex;
  align-items: center;
  flex: 1;
}

@media (max-width: 568px) {
  .burger {
    display: block;
    margin-left: auto;
  }

  .desktopMenu {
    display: none;
  }
}

.tabs-scrollable {
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.tabs-scrollable::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
.tabs-scrollable [role="tab"] {
  flex-shrink: 0;
}
.title-bar {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

