.main {
  background-color: #222;
}

body {
  background-color: #222;
}

.zoomContainer {
  position: fixed;
  top: 75px;
  right: 15px;
  z-index: 1;
  /* float: right; */
}

.logo {
  width: 120px;
}

.logo-divider {
  width: 1px;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 8px;
}

.imageContainer {
  width: calc(100vw - 15px);
  height: calc(100vh - 60px);

}
