.sectionTitle {
  font-size: 12px;
  font-weight: 600;
  color: var(--mantine-color-gray-5);
  margin-bottom: var(--mantine-spacing-xs);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.emptyText {
  color: var(--mantine-color-gray-5);
  font-size: var(--mantine-font-size-sm);
  font-weight: 600;
  text-transform: lowercase;
}
