.wrapper {
  pointer-events: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px;
  align-items: start;
  justify-items: center;

  border: 1px solid rgba(255, 255, 255, 0.25);
  width: max-content;
}

.gridItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(3, auto);
  }
}

