.container {
  padding: 4px 8px;
}

.row {
  align-items: center;
}

.amount {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-orange-3);
  font-weight: 700;
  font-family: var(--mantine-font-family-monospace);
}
