.container {
  padding: 2px 12px;
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-xs);
}

.row {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 4px 0px;
}

.amount {
  font-style: italic;
  font-size: var(--mantine-font-size-sm);
  color: var(--mantine-color-orange-3);
  font-weight: 700;
}

.container {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
