.embeddedGamePage {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background: var(--main-bg);
}

.embeddedGamePage * {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.embeddedGamePage *::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}
