.unitBadge {
  position: relative;
  width: 70px;
  height: 35px;
}

.unitIcon {
  position: absolute;
}

.unitCountContainer {
  position: absolute;
  right: 12px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unitCount {
  min-width: 19px;
  font-size: 18px;
  font-weight: 800;
  font-family: "Slider", sans-serif;
  text-align: center;
  color: white;
}

.whiteText {
  -webkit-text-stroke: 3px #000;
  paint-order: stroke fill;
}