.unitBadge {
  position: relative;
  width: 70px;
  height: 35px;
}

.unitIcon {
  position: absolute;
}

.unitCountContainer {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.unitCount {
  font-size: 24px;
  font-weight: 800;
  font-family: "Slider", sans-serif;
  text-align: center;
  color: white;
  line-height: 1;
  font-variant-numeric: tabular-nums;
}

@supports (paint-order: stroke fill) {
  .unitCount {
    -webkit-text-stroke: 3px white;
    paint-order: stroke fill;
  }
}

@supports not (paint-order: stroke fill) {
  .unitCount {
    text-shadow:
      -3px -3px 0 white,
      3px -3px 0 white,
      -3px 3px 0 white,
      3px 3px 0 white,
      0 -3px 0 white,
      0 3px 0 white,
      -3px 0 0 white,
      3px 0 0 white;
  }
}

@supports (paint-order: stroke fill) {
  .unitCount.whiteText {
    -webkit-text-stroke: 3px #000;
  }
}

@supports not (paint-order: stroke fill) {
  .unitCount.whiteText {
    text-shadow:
      -3px -3px 0 #000,
      3px -3px 0 #000,
      -3px 3px 0 #000,
      3px 3px 0 #000,
      0 -3px 0 #000,
      0 3px 0 #000,
      -3px 0 0 #000,
      3px 0 0 #000;
  }
}