.unitBadge {
  position: relative;
  width: 70px;
  height: 35px;
}

.unitIcon {
  position: absolute;
}

.unitCountContainer {
  position: absolute;
  right: 12px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unitCount {
  min-width: 19px;
  font-size: 18px;
  font-weight: 800;
  font-family: "Slider", sans-serif;
  text-align: center;
  color: white;
}

.whiteText {
  text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000,
    -3px 0 1px #000,
    3px 0 1px #000,
    0 -3px 1px #000,
    0 3px 1px #000;
}